<template>
  <div class="item col-span-1 px-6 py-4 shadow-lg rounded flex flex-col">
    <h2 class="font-bold text-xl mb-2 mx-auto">{{role_name}}</h2>
    <div class="flex flex-col">
      <div
        class="actual-summs my-1 flex flex-row align-middle justify-between"
        v-for="(summ, index) in summs"
        :key="index"
      >
        <div>
          <span>{{summ.name}}</span>
          <p>{{summ.state}}</p>
        </div>
        <label class="flex justify-start items-start">
          <div
            class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500"
          >
            <input
              type="checkbox"
              class="opacity-0 absolute"
              v-model="summ.state"
              @click="showIt(index)"
            />
            <svg
              class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none"
              viewBox="0 0 20 20"
            >
              <path d="M0 11l2-2 5 5L18 3l2 2L7 18z" />
            </svg>
          </div>
        </label>
      </div>
      <div class="final-summs mt-5">
        <div class="actual-sum" v-for="(summ, index) in summs" :key="index">
          <div
            v-if="summ.state"
            class="p-2 mb-1 bg-red-500 flex flex-row justify-between align-middle"
          >
            <p class="text-white">{{summ.name}}</p>
            <p class="text-white">{{summ.time}}</p>
            <button class="p-1 bg-orange-400 rounded-md text-white" v-on:click="startChrono(index)">
              <svg fill="currentColor" class="w-6 h-6" viewBox="0 0 20 20">
                <path
                  fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["name"],
  data() {
    return {
      role_name: this.name,
      summs: [
        {
          name: "ghost",
          time: 10,
          backup: 180,
          state: false,
          cd: false
        },
        {
          name: "heal",
          time: 240,
          backup: 240,
          state: false,
          cd: false
        },
        {
          name: "shield",
          time: 180,
          backup: 180,
          state: false,
          cd: false
        },
        {
          name: "exhaust",
          time: 210,
          backup: 210,
          state: false,
          cd: false
        },
        {
          name: "flash",
          time: 300,
          backup: 300,
          state: false,
          cd: false
        },
        {
          name: "teleportation",
          time: 240,
          backup: 240,
          state: false,
          cd: false
        }
      ]
    };
  },
  methods: {
    showIt(i) {
      this.summs[i].state = !this.summs[i].state;
    },
    startChrono(i) {
      console.log(this.summs[i].time);
      var interval = setInterval(() => {
        console.log("incremented");
        if (this.summs[i].time >= 0) {
          this.summs[i].time--;
        } else {
          this.summs[i].time = this.summs[i].backup;
          clearInterval(interval);
        }
      }, 1000);
    }
  }
};
</script>

<style>
input:checked + svg {
  display: block;
}
</style>