<template>
  <div class="container mx-auto flex flex-col py-5">
    <h1 class="font-bold text-xl mb-2 text-green-300 mx-auto block">SUMMONERS RIFT SPELL TIMER</h1>
    <div class="grid grid-cols-5 gap-4">
      <role name="Toplaner" />
      <role name="Jungler" />
      <role name="Midlaner" />
      <role name="Adc" />
      <role name="Support" />
    </div>
  </div>
</template>

<script>
import role from "~/components/role";
export default {
  components: {
    role
  },
  data() {
    return {};
  }
};
</script>

<style>
input:checked + svg {
  display: block;
}
</style>